body {
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp- StdN W1", " Std W1", sans-serif;
  min-height: 100vh
}
body main {
  min-height: 100vh
}
li {
	list-style-type:none;
}
.is-bold {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp- StdN W6", "Koburina Gothic Std W6", " Std W6", "A+tanp- StdN W1", "Koburina Gothic Std W1", sans-serif !important;
}
img {
  height: auto
}
.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  background-color: #fff
}
.page-loading span {
  transform: translateY(-160rem)
}
.page-loading.is-loaded {
  display: none
}
.l-header-fade-in {
  display: flex !important;
  opacity: 1;
  animation-name: sample01;
  animation-duration: .3s;
  animation-fill-mode: forwards
}
.animate-fade-in-down {
  opacity: 0
}
.animate-fade-in-down.is-active {
  animation: fadeInDown .3s ease-in-out 0s forwards
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateX(-10px)
  }
  100% {
    opacity: 1;
    transform: translateX(0px)
  }
}
@media(min-width: 465px) {
  .p-tmp-menu {
    right: 0
  }
}
.p-button-spmenu {
  display: block;
  width: 50rem;
  height: 50rem;
  position: absolute;
  top: 36rem;
  right: 38rem;
  z-index: 9010;
  cursor: pointer
}
.p-icon-animation {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.p-icon-animation span {
  width: 50rem;
  height: 1px;
  display: block;
  background: #000;
  position: absolute;
  left: 50%;
  top: calc(50% - .5px);
  margin-left: -25rem;
  transition: all .3s
}
.p-icon-animation .top {
  transform: translateY(-15rem) scale(1)
}
.p-icon-animation .middle {
  background: none;
  position: relative;
}
.p-icon-animation .middle::before, .p-icon-animation .middle::after {
  transition: all .3s;
  content: "";
  width: 50rem;
  height: 1px;
  background: #000;
  display: block;
  transform: rotate(0deg);
  position: absolute;
}
.p-icon-animation .bottom {
  transform: translateY(15rem) scale(1)
}
body.menu-opened .p-icon-animation .top {
  transform: translateY(0px) scale(0)
}
body.menu-opened .p-icon-animation .bottom {
  transform: translateY(0px) scale(0)
}
body.menu-opened .p-icon-animation .middle:before {
  transform: rotate(45deg) scaleX(1);
  background: #000;
}
body.menu-opened .p-icon-animation .middle:after {
  transform: rotate(-45deg) scaleX(1);
  background: #000;
}
.p-about-concept {
  background-color: #fff5f5;
  position: relative;
  padding-top: 108rem;
  padding-bottom: 220rem;
}
.p-about-concept-catch {
  font-size: 35.5rem;
  letter-spacing: .34em;
  line-height: 1;
  font-weight: bold;
}
.p-about-concept-catch .p-catch-item>p>span {
  padding: .3em 1em;
  background-color: #fff
}
.p-about-concept-catch .p-catch-item>p::after {
  background-color: #b4b4b4
}
.p-about-concept-catch .p-catch-item:nth-child(1) {
  margin-left: 50rem
}
.p-about-concept-catch .p-catch-item:nth-child(1)>p>span {
  padding-right: .4em
}
.p-about-concept-catch .p-catch-item:nth-child(2) {
  margin-left: 230rem;
  margin-top: 40rem
}
.p-about-concept-catch.is-active .p-catch-item>*>* {
  transition-property: opacity;
  transition-duration: .8s;
  transition-delay: .9s;
  opacity: 1
}
.p-about-concept-catch.is-active .p-catch-item>*::after {
  animation-name: display_effect1;
  animation-delay: .5s;
  animation-duration: .8s;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1)
}
.p-about-concept-catch.is-active .p-catch-item:nth-child(2)>p>span {
  transition-delay: 1.25s
}
.p-about-concept-catch.is-active .p-catch-item:nth-child(2)>p::after {
  animation-delay: 1s
}
.p-about-concept-theme {
  position: absolute;
  top: -375rem;
  right: 0;
  width: 140rem;
  transition-delay: .8s !important;
  z-index: 1;
}
.p-about-concept-picture>div img {
  border: solid 10rem #fff;
}
.p-about-concept-picture1>div {
  width: 477rem;
}
.p-about-concept-picture2>div {
  width: 460rem;
}
.p-about-concept-picture1 {
  margin-left: 191rem;
}
.p-about-concept-picture1>div {
  position: relative;
  overflow: hidden;
  padding: 10rem;
}
.p-about-concept-picture1>div::before, .p-about-concept-picture1>div::after {
  border: solid 1px rgba(35, 24, 21, .5);
  content: "";
  display: block;
  position: absolute;
  width: 100rem;
  height: 100rem;
  background-color: #fff5f5;
  transform: rotate(45deg);
  z-index: 2;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .3s
}
.p-about-concept-picture1>div::before {
  top: -50rem;
  left: -50rem;
}
.p-about-concept-picture1>div::after {
  bottom: -50rem;
  right: -50rem;
}
.p-about-concept-picture1>div.is-active::before, .p-about-concept-picture1>div.is-active::after {
  opacity: 1;
}
.p-about-concept-picture2 {
  margin-left: 40rem;
}
.p-about-concept-picture3>div {
  width: 610rem;
  margin-left: auto;
  margin-right: 0;
}
.p-about-concept-picture3 img {
  border-right: none;
}
.p-about-concept-lead {
  line-height: 2.82;
  letter-spacing: .11em;
  position: relative;
  z-index: 1;
}
.p-about-concept-lead1 {
  margin: 46rem auto 60rem 50rem;
}
.p-about-concept-lead2 {
  margin: -36rem 42rem 60rem auto;
  width: -moz-fit-content;
  width: fit-content;
}
.p-about-concept-lead3 {
  margin: 60rem auto 140rem 50rem;
}
.p-about-concept-lead4 {
  margin: 0 auto 0 150rem;
}
article.is-first .p-about-concept-catch.is-active .p-catch-item:nth-child(1)>p>span {
  transition-delay: 1.9s;
}
article.is-first .p-about-concept-catch.is-active .p-catch-item:nth-child(1)>p::after {
  animation-delay: 1.5s;
}
article.is-first .p-about-concept-catch.is-active .p-catch-item:nth-child(2)>p>span {
  transition-delay: 2.4s;
}
article.is-first .p-about-concept-catch.is-active .p-catch-item:nth-child(2)>p::after {
  animation-delay: 2s;
}
article.is-first .p-about-concept-picture1>div.is-active::before, article.is-first .p-about-concept-picture1>div.is-active::after {
  transition-delay: 2s;
}
article.is-first .p-about-concept-picture1>div.is-active>*>* {
  transition-delay: 2.9s;
}
article.is-first .p-about-concept-picture1>div.is-active>*::after {
  animation-delay: 2.5s;
}
.about-cleanse {
  padding-top: 166rem;
  padding-bottom: 50rem;
}
.about-cleanse-header {
  text-align: center;
  margin-bottom: 70rem;
}
.about-cleanse-header p {
  margin-bottom: 10rem;
}
.about-cleanse-header p, .about-cleanse-header h2 {
  opacity: 0;
  transform: translateY(20px);
  transition-property: opacity transform;
  transition-duration: 1s;
  transition-delay: .5s;
}
.about-cleanse-header h2 {
  transition-delay: .8s;
}
.about-cleanse-header img {
  width: 540rem;
}
.about-cleanse-header.is-active p, .about-cleanse-header.is-active h2 {
  opacity: 1;
  transform: translateY(0px)
}
.about-cleanse-picture.is-active {
  transition-delay: 1.5s;
}
.about-cleanse-sentence {
  letter-spacing: .04em;
  line-height: 1.78;
  width: 71.3%;
  margin: auto;
}
.about-cleanse-sentence p+p {
  margin-top: 1em;
}
.about-cleanse-sentence1 {
  margin-top: 83rem;
}
.about-story {
  padding-top: 166rem;
  padding-bottom: 210rem;
  position: relative;
}
.about-story-title {
  position: absolute;
  top: 88rem;
  right: 40rem;
  height: 290rem;
}
.about-story-title>span {
  display: block;
  overflow: hidden;
  height: 0%;
  transition-property: height;
  transition-duration: .5s;
  transition-delay: 1s;
}
.about-story-title img {
  height: 290rem;
}
.about-story-title.is-active>span {
  height: 100%
}
.about-story-sentence {
  letter-spacing: .04em;
  line-height: 1.78;
  width: 71.3%;
}
.about-story-sentence p+p {
  margin-top: 1em;
}
.about-story-sentence1 {
  margin-left: 40rem;
  margin-top: 50rem;
}
.about-story-sentence2 {
  margin-left: auto;
  margin-right: 40rem;
  margin-top: 50rem;
  margin-bottom: 130rem;
}
.about-story-sentence3 {
  margin-top: 50rem;
  margin-left: 40rem;
  margin-bottom: 150rem;
}
.about-story-sentence4 {
  margin: auto;
  margin-top: 50rem;
}
.selectablekit-detail {
  position: relative;
  padding-bottom: 60rem;
}
.selectablekit-detail-visual {
  position: relative;
  margin-bottom: 80rem;
  padding-top: 120rem;
  padding-bottom: 60rem;
}
.selectablekit-detail-visual .anim-slide-in>span::after {
  background-color: #ffebeb;
}
.selectablekit-detail-visual .anim-slide-in+.selectablekit-detail-title {
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 1;
}
.selectablekit-detail-visual .anim-slide-in.is-active+.selectablekit-detail-title {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 1s;
}
.selectablekit-detail-catch {
  font-size: 38rem;
  margin-bottom: 30rem;
}
.selectablekit-detail-lead {
  margin-bottom: 55rem;
  line-height: 1.78;
}
.selectablekit-detail-star {
  margin-bottom: 40rem;
}
.selectablekit-detail-lead-note {
  font-size: 18rem;
  color: #b4b4b4;
  margin-bottom: 25rem;
}
.selectablekit-detail .accordion-more {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.selectablekit-detail .accordion-close {
  margin-top: 20rem;
}
.detail-content.accordion-body {
  padding-top: 120rem;
}
.detail-content .detail-catch {
  font-size: 33rem;
  line-height: 1.78;
  margin-bottom: 40rem;
}
.detail-content .detail-catch sub {
  font-size: 18rem;
}
.detail-content .detail-sentence {
  line-height: 1.78;
  margin-bottom: 30rem;
}
.detail-content .detail-sentence p+p {
  margin-top: 1em;
}
.detail-content .detail-sentence:last-child {
  margin-bottom: 0;
}
.detail-content .detail-picture {
  margin-bottom: 20rem;
}
.detail-content .detail-note {
  font-size: 18rem;
  color: #b4b4b4;
  line-height: 1.78;
}
.detail-content .section-group+.section-group {
  margin-top: 115rem;
}
.buy-variation {
  margin-top: 25rem;
  position: relative;
}
.buy-variation ul {
  list-style-type: none;
  display: flex;
  font-size: 22rem;
}
.buy-variation li+li {
  margin-left: 1em;
}
.buy-variation a.link-arrow span {
  border-bottom: solid 1px #999;
  display: inline-block;
  padding-bottom: .2em;
  padding-right: 1em;
  position: relative;
}
.buy-variation .variation-content {
  margin-top: 50rem;
}
.buy-variation .variation-close {
  margin-top: 50rem;
}
.buy-variation .variation-close a {
  width: 100%;
}
.section-group {
  width: 90%;
  margin: auto;
}
.selectablekit-concept {
  padding-top: 180rem;
}
.selectablekit-concept-catch {
  font-size: 40rem;
  letter-spacing: .08em;
  line-height: 2;
  text-align: center;
}
.selectablekit-concept-explain {
  line-height: 1.78;
  margin-bottom: 28rem;
}
.selectablekit-concept-explain p+p {
  margin-top: 1em;
}
.selectablekit-concept-conclusion {
  font-size: 30rem;
  line-height: 1.8;
  margin-bottom: 55rem;
}
.selectablekit-concept-table {
  position: relative;
}
.selectablekit-concept-table .concept-table-item {
  position: absolute;
}
.selectablekit-concept-table .concept-table-item::before {
  content: "";
  width: 51rem;
  height: 51rem;
  border-radius: 25.5rem;
  background-color: #f8d3dd;
  position: absolute;
  left: calc(50% - 25.5rem);
  bottom: calc(100% + 10rem);
}
.selectablekit-concept-table .concept-table-item img {
  height: 30rem;
}
.selectablekit-concept-table .concept-table-item.table-item-oil {
  top: 144rem;
  left: 462rem;
}
.selectablekit-concept-table .concept-table-item.table-item-milk {
  top: 356rem;
  left: 357rem;
}
.selectablekit-concept-table .concept-table-item.table-item-gel {
  top: 488rem;
  left: 164rem;
}
.selectablekit-concept-table .concept-table-item.table-item-butter {
  top: 490rem;
  left: 540rem;
}
.selectablekit-concept-table.js-scroll-trigger .concept-table-base, .selectablekit-concept-table.js-scroll-trigger .concept-table-item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 1s;
}
.selectablekit-concept-table.js-scroll-trigger .concept-table-base {
  transition-delay: .5s
}
.selectablekit-concept-table.js-scroll-trigger.is-active .concept-table-base, .selectablekit-concept-table.js-scroll-trigger.is-active .concept-table-item {
  opacity: 1;
}
body.scroll-disabled {
  position: fixed;
  width: 100%;
  height: 100%;
}
a, a:hover {
  color: #000;
}
@keyframes delayedDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-section-head {
  margin-bottom: 90rem;
}
.p-section-title {
  font-size: 44rem;
  letter-spacing: .1em;
  text-align: center;
  opacity: 0;
  animation: delayedDisplay .5s linear .8s forwards
}
.p-section-title>span {
  display: inline-block;
  min-height: 1em;
  position: relative;
  font-weight: bold;
}

.p-section-title>span::after {
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: solid 5rem #000;
  position: absolute;
  top: calc(100% + .3em);
  left: 0;
  transition-property: width;
  transition-duration: .5s;
  transition-delay: 1s;
}
.p-section-title+.p-section-title-ja {
  font-size: 26rem;
  text-align: center;
  letter-spacing: .07em;
  margin-top: 40rem;
  margin-bottom: -15rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
  transition-delay: 1.3s;
}
.p-section-title.is-display>span::after {
  width: calc(100% - -73rem - 12px);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}
.p-section-title.is-display+.p-section-title-ja {
  opacity: 1;
}
@media(min-width: 465px) {
  .p-section-title.is-display>span::after {
    width: calc(100% - 8rem - 12px) !important
  }
  .p-section-title.is-display+.p-section-title-ja {
    opacity: 1;
  }
}
.accordion-more a, .accordion-close a {
  cursor: pointer;
  display: block;
  background-color: #f5f5f5;
  font-size: 24rem;
  letter-spacing: .2em;
  padding: .6em 0 .6em 0;
  text-align: center;
  width: 90%;
  margin: auto;
}
.accordion-more span, .accordion-close span {
  display: inline-block;
  padding-right: 1em;
  position: relative;
}
.accordion-more span::after {
  transform: rotate(90deg);
}
.accordion-trigger {
  cursor: pointer;
}
.accordion-trigger-minus {
  line-height: 2;
  border-bottom: solid 1px #b4b4b4;
  margin-bottom: 30rem;
  position: relative;
}
.accordion-body {
  display: none;
  overflow: hidden;
}
.area-qanda-content .accordion-trigger-minus {
  line-height: inherit;
  border-bottom: none;
  margin-bottom: 10rem;
}
.area-qanda-content .accordion-trigger-minus::after {
  right: 24rem;
  top: calc(50% - 17rem);
  background-color: #fff;
}
.area-qanda-content .btn-qanda-title {
  background-image: none;
}
html.iphone, html.ipad {
  font-size: calc(.0026666667*(100vw - 3.95px)/2);
}
html {
  font-size: .1333333333vw;
}
html body {
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "こぶりなゴシック Std W1", "メイリオ", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
  text-justify: inter-ideograph;
  background-color: #fff;
  color: #000;
}
html body p span.full-width {
  margin-right: .4em;
}
html body img {
  max-width: 100%;
}
html body a:hover {
  text-decoration: none;
}
html body .golden-ratio {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
html body .golden-ratio::before {
  display: block;
  content: "";
  padding-top: 62.4281609195%;
}
html body .golden-ratio img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  object-fit: cover;
  object-position: center center;
}
html body .link-off {
  opacity: 0 !important;
  cursor: default;
}
html body .link-off:hover {
  opacity: 0 !important;
}
html body .area-container {
  padding-left: 40rem;
  padding-right: 40rem;
}
html body .l-wrapper {
  width: 100%;
  max-width: 464px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}
html body .l-wrapper header {
  height: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #b4b4b4;
  background-color: #fff;
  position: fixed;
  width: 100%;
  max-width: 464px;
  min-width: 320px;
  top: 0;
  left: auto;
  z-index: 1010;
}
html body .l-wrapper header .logo {
  font-weight: 300;
  font-size: 30rem;
  letter-spacing: .3em;
  margin-right: -0.6em;
  color: #231815;
  display: inline-block;
}
html body .l-wrapper header .logo img {
  width: 184rem;
}
html body .l-wrapper header .logo img:hover, html body .l-wrapper header .logo img:focus {
  animation: blink .4s ease-in-out;
}
html body .l-wrapper header .logo:hover {
  text-decoration: none;
}
html body .l-wrapper header .icon-ig {
  width: 42rem;
}
html body .l-wrapper header .spacer-for-icon-ig {
  display: block;
  width: 42rem;
}
html body .l-wrapper main {
  padding-top: 120rem;
}
html body .l-wrapper main .key_visual-toppage {
  padding-top: 97rem;
  padding-bottom: 110rem;
  position: relative;
}
html body .l-wrapper main .key_visual-toppage .tagline {
  width: 504rem;
  height: 252.238410596rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
html body .l-wrapper main .key_visual-toppage .tagline-vertical {
  position: absolute;
  transform: scale(0.6) rotate(90deg) translate(304rem, 24rem);
  transform-origin: right top;
  top: 0;
  right: 0;
  font-size: 16rem;
  font-weight: 300;
  letter-spacing: .11em;
  margin-right: -0.11em;
  line-height: 1em;
  color: #6e6e6e;
}
html body .l-wrapper main .key_visual-toppage _:lang(x)+_:-webkit-full-screen-document, html body .l-wrapper main .key_visual-toppage .tagline-vertical {
  transform: scale(0.75) rotate(90deg) translate(248rem, 21rem)
}
html body .l-wrapper main .tag_sort {
  text-align: right;
  width: 655rem;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 66rem;
}
html body .l-wrapper main .tag_sort>span {
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "こぶりなゴシック Std W1", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  display: inline-block;
  border-bottom: solid 1rem #000;
  font-size: 22rem;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: .1em;
  color: #000;
  margin: 16rem 0 32rem 0;
  padding: 0 44rem 16rem 0;
  cursor: pointer;
}
html body .l-wrapper main .tag_sort>span:hover, html body .l-wrapper main .tag_sort>span:focus {
  animation: blink .4s ease-in-out;
}
html body .l-wrapper main .tag_sort>span i {
  font-size: 90%;
  transform: rotate(0deg);
  transition: .3s;
}
html body .l-wrapper main .tag_sort ul {
  height: 0;
  transition: .3s ease;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: -14rem;
  overflow: hidden;
}
html body .l-wrapper main .tag_sort ul li {
  list-style: none;
  display: inline-block;
  margin-left: 14rem;
  margin-bottom: 16rem;
}
html body .l-wrapper main .tag_sort ul li a {
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "こぶりなゴシック Std W1", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  display: inline-block;
  font-size: 22rem;
  font-weight: 300;
  line-height: 1.636em;
  letter-spacing: .1em;
  margin-right: .1em;
  color: #000;
  background-color: #f5f5f5;
  padding: 6rem 18rem;
}

html body .l-wrapper main .tag_sort ul li a:hover, html body .l-wrapper main .tag_sort ul li a:focus {
  text-decoration: none;
  background-color: #b4b4b4;
  animation: none;
}
html body .l-wrapper main .tag_sort ul li a.active {
  background-color: #b4b4b4;
}
html body .l-wrapper main .tag_sort.open>span i {
  transform: rotate(180deg);
  transition: .3s;
}
html body .l-wrapper main .tag_sort.open ul {
  height: 206rem;
  transition: .3s ease;
}
html body .l-wrapper main .list-article {
  list-style: none;
  margin: 0;
  margin-bottom: 198rem;
  padding: 0;
}
html body .l-wrapper main .list-article li {
  margin-bottom: 90rem;
}
html body .l-wrapper main .list-article li a {
  color: inherit;
  position: relative;
  display: block;
}
html body .l-wrapper main .list-article li a:hover {
  text-decoration: none;
}
html body .l-wrapper main .list-article li a .article-image>div {
  position: relative;
  width: 650rem;
  margin-left: auto;
  margin-right: 0;
}
html body .l-wrapper main .list-article li a .article-image>div:before, html body .l-wrapper main .list-article li a .article-image>div:after {
  content: "";
  position: absolute;
  display: block;
  z-index: 600;
}
html body .l-wrapper main .list-article li a section {
  color: #000;
  display: flex;
  justify-content: flex-start;
}
html body .l-wrapper main .list-article li a section .number {
  font-size: 80rem;
  font-weight: 200;
  letter-spacing: .05em;
  margin-right: -0.05em;
  margin: 0;
  line-height: 1em;
  margin-left: 44rem;
  margin-top: -34rem;
  z-index: 800;
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "こぶりなゴシック Std W1", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
}
html body .l-wrapper main .list-article li a section .c-title {
  font-size: 34rem;
  font-weight: 300;
  letter-spacing: .1em;
  margin-right: -0.1em;
  line-height: 1.5em;
  margin: 0;
  margin-left: 58rem;
  padding: 15rem 0 0 0;
}
html body .l-wrapper main .area-title {
  background-image: url(../../../images/common/bg-title-colored.png);
  background-repeat: repeat;
  background-position: center top;
  background-size: 100%;
  padding: 74rem 42rem 30rem;
  position: relative;
}
html body .l-wrapper main .area-title:before, html body .l-wrapper main .area-title:after {
  content: "";
  position: absolute;
  display: block;
}
html body .l-wrapper main .area-title:after {
  z-index: 700;
}
html body .l-wrapper main .area-title .c-title {
  font-size: 44rem;
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .07em;
  margin-right: -0.07em;
  line-height: 1.6em;
  color: #000;
  margin-bottom: 114rem;
  z-index: 800;
}
html body .l-wrapper main .area-title .c-title span {
  font-size: 26rem;
  font-weight: 300;
  letter-spacing: .06em;
  margin-right: -0.06em;
  display: block;
  line-height: 1em;
  color: #000;
  margin-bottom: 22rem;
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "こぶりなゴシック Std W1", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
}
html body .l-wrapper main .area-title .date {
  font-size: 20rem;
  font-weight: 300;
  letter-spacing: .08em;
  margin-right: -0.08em;
  margin-left: .3em;
  display: block;
  line-height: 1em;
  color: #000;
}
html body .l-wrapper main .area-content {
  padding-bottom: 62rem;
}
html body .l-wrapper main .area-content .area-container {
  padding-top: 52rem;
}
html body .l-wrapper main .area-content p {
  font-size: 32rem;
  line-height: 1.86em;
  font-weight: 300;
  letter-spacing: .05em;
  margin-right: -0.05em;
  margin-bottom: 0;
  color: #000;
}
html body .l-wrapper main .area-content p+p {
  margin-top: 64rem;
}
html body .l-wrapper main .area-content .area-interviewer {
  margin-bottom: 120rem;
}
html body .l-wrapper main .area-content .area-interviewer img {
  width: 100%;
}
html body .l-wrapper main .area-content .area-interviewer .area-container {
  padding-top: 24rem;
  padding-bottom: 56rem;
}
html body .l-wrapper main .area-content .area-interviewer .area-container p {
  font-size: 26rem;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: .02em;
  margin-right: -0.02em;
  color: #6e6e6e;
}
html body .l-wrapper main .area-content .area-article {
  padding-bottom: 180rem;
  border-bottom: solid 1px #b4b4b4;
}
html body .l-wrapper main .area-content .area-article .area-title {
  padding: 56rem 50rem 82rem;
  background-image: url(../../../images/common/bg-title-white.png?v=20210525);
  background-repeat: repeat;
  background-position: center top;
  background-size: 100%;
}
html body .l-wrapper main .area-content .area-article .area-title .c-title {
  margin-bottom: 0;
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-weight: 500;
}
html body .l-wrapper main .area-content .area-article .area-title .c-title span {
  font-size: 18rem;
  letter-spacing: .09em;
  margin-right: -0.09em;
}
html body .l-wrapper main .area-content .area-article .icon {
  position: absolute;
  top: 90rem;
  display: flex;
}
html body .l-wrapper main .area-content .area-article .icon p {
  margin: 0;
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  margin-top: 8rem;
  font-size: 32rem;
  letter-spacing: .02em;
  margin-right: -0.02em;
  font-weight: 500;
  line-height: 1em;
  min-width: 10em;
}
html body .l-wrapper main .area-content .area-article .icon img {
  width: 94rem;
  height: 94rem;
  display: block;
}
html body .l-wrapper main .area-content .area-article .comment {
  margin-top: 66rem;
  max-width: 554rem;
  border: solid 1px #b4b4b4;
  border-radius: 10rem;
  padding: 24rem 32rem;
  position: relative;
}
html body .l-wrapper main .area-content .area-article .comment p {
  font-size: 32rem;
  line-height: 1.86em;
  letter-spacing: .02em;
  margin-right: -0.02em;
  font-weight: 300;
  margin: 0;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  text-align: left;
  text-justify: none;
}
html body .l-wrapper main .area-content .area-article .comment p::selection {
  background-color: #fa7598;
  color: #fff;
}
html body .l-wrapper main .area-content .area-article .comment p span.em {
  background-color: #ffebeb;
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-weight: 500;
}
html body .l-wrapper main .area-content .area-article .comment p span.em::selection {
  background-color: #fa7598;
  color: #fff;
}
html body .l-wrapper main .area-content .area-article .comment .triangle {
  position: absolute;
  top: 28rem;
  right: -28rem;
  border-left: solid 1px #fff;
  display: block;
  width: 28rem;
  height: 28rem;
  background-color: #fff;
}
html body .l-wrapper main .area-content .area-article .comment .triangle:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 58rem;
  height: 18rem;
}
html body .l-wrapper main .area-content .area-article .comment-interviewer {
  padding: 90rem 38rem 0;
  position: relative;
}
html body .l-wrapper main .area-content .area-article .comment-interviewer .icon {
  right: 38rem;
  flex-direction: row;
}
html body .l-wrapper main .area-content .area-article .comment-interviewer .icon p {
  margin-right: 24rem;
  text-align: right;
}
html body .l-wrapper main .area-content .area-article .comment-interviewer .comment {
  margin-right: auto;
  margin-left: 0;
}
html body .l-wrapper main .area-content .area-article .comment-interviewer .comment .triangle {
  right: -28rem;
  border-left: solid 1px #fff;
}
html body .l-wrapper main .area-content .area-article .comment-interviewer .comment .triangle:before {
  width: 58rem;
  height: 18rem;
  transform: skew(-60deg) rotate(47deg) translate(-28rem, 24rem);
  border-top: solid 1px #b4b4b4;
  border-left: solid 2px #b4b4b4;
}
html body .l-wrapper main .area-content .area-article .comment-interviewee {
  padding: 90rem 38rem 0;
  position: relative;
}
html body .l-wrapper main .area-content .area-article .comment-interviewee .icon {
  left: 38rem;
  flex-direction: row-reverse;
}
html body .l-wrapper main .area-content .area-article .comment-interviewee .icon p {
  text-align: left;
  margin-left: 24rem;
}
html body .l-wrapper main .area-content .area-article .comment-interviewee .comment {
  margin-left: auto;
  margin-right: 0;
}
html body .l-wrapper main .area-content .area-article .comment-interviewee .comment .triangle {
  left: -28rem;
  border-right: solid 1px #fff;
}
html body .l-wrapper main .area-content .area-article .comment-interviewee .comment .triangle:before {
  width: 58rem;
  height: 18rem;
  transform: skew(60deg) rotate(-47deg) translate(8rem, 0rem);
  border-top: solid 1px #b4b4b4;
  border-right: solid 1px #b4b4b4;
}
html body .l-wrapper main .area-content .area-article .comment-interviewer+.area-title, html body .l-wrapper main .area-content .area-article .comment-interviewee+.area-title {
  margin-top: 180rem;
}
html body .l-wrapper main .area-content .area-article .image {
  padding-top: 90rem;
}
html body .l-wrapper main .area-content .area-article .image .golden-ratio {
  width: 100%;
  margin-bottom: 28rem;
}
html body .l-wrapper main .area-content .area-article .image p {
  font-size: 26rem;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: .02em;
  margin-right: -0.02em;
  text-align: right;
  padding-left: 40rem;
  padding-right: 40rem;
}
html body .l-wrapper main .area-content .area-article .image+.comment-interviewer, html body .l-wrapper main .area-content .area-article .image+.comment-interviewee {
  margin-top: -30rem;
}
html body .l-wrapper main .area-content .area-article .image.image-with-comment+.comment-interviewer, html body .l-wrapper main .area-content .area-article .image.image-with-comment+.comment-interviewee {
  margin-top: 18rem;
}
html body .l-wrapper main .area-content .next-introduction .link-to-radio {
  padding-bottom: 76rem;
  padding-top: 56rem;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages {
  padding-left: 40rem;
  padding-right: 40rem;
  margin-top: 106rem;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 76rem;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex a {
  width: 100%;
  font-size: 26rem;
  letter-spacing: .1em;
  margin-right: -0.1em;
  line-height: 1.54em;
  color: #000;
  display: flex;
  align-items: center;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex a:hover {
  text-decoration: none;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex a:first-child {
  text-align: right;
  justify-content: flex-end;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex a:first-child img {
  margin-left: 24rem;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex a:last-child {
  text-align: left;
  justify-content: flex-start;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex a:last-child img {
  margin-right: 24rem
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex a img {
  width: 72rem;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages .d-flex a+a {
  margin-top: 102rem;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages>a {
  display: block;
  line-height: 82rem;
  text-align: center;
  font-size: 26rem;
  letter-spacing: .1em;
  margin-right: -0.1em;
  color: #000;
  margin: 36rem auto;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages>a:hover {
  text-decoration: none;
}
html body .l-wrapper main .area-content .next-introduction .link-to-other-pages>a span {
  display: inline-block;
  border-bottom: solid 1px #b4b4b4;
  padding-bottom: 16rem;
  line-height: 1em;
}
html body .l-wrapper main .link-to-radio {
  padding: 120rem 0;
}
html body .l-wrapper main .link-to-radio p {
  font-size: 26rem;
  line-height: 1.75em;
  letter-spacing: .02em;
  margin-right: -0.02em;
  margin-bottom: 0;
}
html body .l-wrapper main .link-to-radio p+a {
  display: block;
  margin-top: 26rem;
}
html body .l-wrapper main .link-to-radio a+p {
  margin-top: 34rem;
  cursor: pointer;
}
html body .l-wrapper main .link-to-radio .btn-open-links i {
  transform: rotate(0deg);
  transition: .3s;
}
html body .l-wrapper main .link-to-radio .btn-open-links.open i {
  transform: rotate(180deg);
  transition: .3s;
}
html body .l-wrapper main .link-to-radio ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 0rem;
  overflow: hidden;
  transition: .3s ease-in-out;
}
html body .l-wrapper main .link-to-radio ul.open {
  height: 390rem;
  transition: .3s ease-in-out;
}
html body .l-wrapper main .link-to-radio ul li a {
  display: flex;
  background-color: #fff;
  text-align: center;
  height: 130rem;
  justify-content: center;
  align-items: center;
}
html body .l-wrapper main .link-to-radio ul li a img {
  width: 335rem;
}
html body .l-wrapper main .link-to-radio ul li a:hover {
  text-decoration: none;
}
html body .l-wrapper main .link-to-radio .link-to-instagram {
  margin-top: 64rem;
}
html body .l-wrapper main .wrap-content-gray {
  margin-top: 28rem;
  background-color: #f0f3f3;
  padding: 40rem 35rem 7rem 35rem;
}
html body .l-wrapper main .wrap-content-gray .wrap-content-gray-inner {
  margin-bottom: 38rem;
}
html body .l-wrapper main .wrap-content-gray .wrap-content-gray-inner h2, html body .l-wrapper main .wrap-content-gray .wrap-content-gray-inner p, html body .l-wrapper main .wrap-content-gray .wrap-content-gray-inner a {
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "こぶりなゴシック Std W1", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-size: 26rem;
  line-height: 1.8em;
  font-weight: 300;
  color: #000;
  letter-spacing: .02em;
  margin-right: -0.02em;
}
html body .l-wrapper main .wrap-content-gray .wrap-content-gray-inner h2 {
  font-weight: 500;
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
}
html body .l-wrapper main .wrap-content-gray .wrap-content-gray-inner a {
  display: inline-block;
  text-decoration: underline;
}
html body .l-wrapper main .wrap-content-gray+.link-to-radio {
  padding-top: 60rem;
}
html body .l-wrapper footer {
  border-top: solid 1px #b4b4b4;
}
html body .l-wrapper footer .copyright {
  font-size: 12rem;
  transform: scale(0.66);
  font-weight: 300;
  letter-spacing: .12em;
  margin-right: -0.12em;
  line-height: 1em;
  text-align: center;
}
html body .l-wrapper main.filtered .list-article {
  display: none;
}
html body .l-wrapper main.filtered.all .list-article {
  display: block;
}
html body .l-wrapper main.filtered.skincare .list-article.skincare {
  display: block;
}
html body .l-wrapper main.filtered.cleansing .list-article.cleansing {
  display: block;
}
html body .l-wrapper main.filtered.pore .list-article.pore {
  display: block;
}
html body .l-wrapper main.filtered.lab .list-article.lab {
  display: block;
}
html body .l-wrapper main.filtered.trouble .list-article.trouble {
  display: block;
}
html body .l-wrapper main.filtered.product .list-article.product {
  display: block;
}
html body .l-wrapper main.filtered.howto .list-article.howto {
  display: block;
}
html body .l-wrapper main.filtered.member .list-article.member {
  display: block;
}
html body .l-wrapper main.filtered.interview .list-article.interview {
  display: block;
}
html body .p-aside-logo {
  display: none;
  height: 100vh;
  width: calc((100vw - 464px)/2);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 30px;
  letter-spacing: .3em;
  margin-right: -0.3em;
  font-weight: bold;
}
html body .p-aside-qrcode {
  display: none;
  height: 100vh;
  width: calc((100vw - 464px)/2);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
}
html body .p-aside-qrcode img {
  width: 185px;
  margin-bottom: 18px;
}
html body .p-aside-qrcode p {
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "こぶりなゴシック Std W1", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .1em;
  margin-right: -0.1em;
  line-height: 2em;
}
.page-plain {
  padding-top: 120rem
}
.page-plain h1 {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-size: 44rem;
  line-height: 1;
  letter-spacing: .07em;
  font-weight: 500;
  margin: 0 0 120rem 0;
}
.page-plain p {
  font-size: 26rem;
  line-height: 1.73em;
  letter-spacing: .04em;
  font-weight: 300;
  margin-bottom: 2em;
}
.page-plain.q_and_a p {
  margin-bottom: 0;
  text-align: left
}
.area-qanda-content {
  margin-bottom: 212rem;
}
a.btn-qanda {
  display: block;
  background-image: url(../../../images/q_and_a/bg-btn.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 26rem) center;
  background-size: 18rem;
  border: 1rem solid #000;
  margin-bottom: 11rem;
}
a.btn-qanda span {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  display: block;
  color: #000;
  font-size: 30rem;
  line-height: 1.8em;
  letter-spacing: .04em;
  margin-bottom: 0;
  width: calc(100% - 35rem);
  font-weight: 500;
  padding: 26rem 26rem;
}
a.btn-qanda:hover {
  cursor: pointer;
  text-decoration: none;
}
.area-qanda-content h2 {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-size: 30rem;
  line-height: 1.8em;
  letter-spacing: .04em;
  font-weight: 500;
  margin: 112rem 0 74rem;
}
.btn-qanda-text {
  padding: 15rem 26rem 0 26rem;
  margin-bottom: 84.2rem;
  display: none;
}
.btn-qanda-content p {
  font-size: 30rem;
  line-height: 1.8em;
  letter-spacing: .04em;
  font-weight: 300;
}
.btn-qanda-content p.c-title-q, .btn-qanda-content p.c-title-a {
  margin-right: 20rem;
}
.btn-qanda-content p.c-title-q+p {
  width: calc(100% - 110rem);
}
.btn-qanda-content img {
  width: 34.2rem;
}
.page-plain.q_and_a a.btn-qanda span {
  line-height: 1.9em !important;
}
.themes-logo-icon {
  width: 188rem;
}
.l-themes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-themes-header .l-wrap-themes-icon-right {
  display: flex;
  margin-right: 92rem;
}
.l-themes-header .l-wrap-themes-icon-right .themes-mypage-icon {
  height: 40rem;
  margin-right: 50rem;
}
.l-themes-header .l-wrap-themes-icon-right .themes-mypage-icon img {
  height: 40rem;
}
.l-themes-header .l-wrap-themes-icon-right .themes-cart-icon {
  height: 38rem;
  margin-right: 42rem;
}
.l-themes-header .l-wrap-themes-icon-right .themes-cart-icon img {
  height: 38rem;
}
.l-themes-header .l-wrap-themes-icon-right .themes-nav-icon {
  width: 50rem;
  position: absolute;
  z-index: 9010;
  top: 44rem;
  right: 38rem;
  transition: .3s;
}
.l-themes-header .l-wrap-themes-icon-right .themes-nav-icon img {
  display: none;
}
.l-themes-header .l-wrap-themes-icon-right .themes-nav-icon span {
  transition: .3s;
  display: block;
  border-top: 1px solid #000;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-themes-header .l-wrap-themes-icon-right .themes-nav-icon span+span {
  margin-top: 15rem;
}
body.menu-opened .l-themes-header .l-wrap-themes-icon-right .themes-nav-icon {
  transform: translate(10rem);
  transition: .3s;
}
body.menu-opened .l-themes-header .l-wrap-themes-icon-right .themes-nav-icon span {
  transition: .3s;
}
body.menu-opened .l-themes-header .l-wrap-themes-icon-right .themes-nav-icon span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: left 50%;
  width: 45rem;
}
body.menu-opened .l-themes-header .l-wrap-themes-icon-right .themes-nav-icon span:nth-child(2) {
  width: 0rem;
}
body.menu-opened .l-themes-header .l-wrap-themes-icon-right .themes-nav-icon span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: left 50%;
  width: 45rem;
}
.p-logo-original p {
font-size: 12px;
font-weight: bold;
margin-left: 30px;
}
.p-tmp-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 1250rem;
  overflow: hidden;
  width: 100%;
  max-width: 464px;
  min-width: 320px;
  background-color: #fff;
  z-index: 9000;
  padding: 22px 28px;
  transition: .5s;
  background-color: #fff5f5;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right top;
  padding: 0 32rem 0 32rem;
}
.p-tmp-menu.none {
  height: 0rem;
  transition: .5s;
}
.p-tmp-menu ul li a {
  color: #000;
  font-size: 12px;
}
.c-top-title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  left: 0;
  font-size: 25rem;
  font-weight: 200;
  letter-spacing: .27em;
  right: 93rem
}
footer .l-wrap-footer .c-top-title {
  position: absolute;
  left: auto;
  right: 30rem;
}
.themes-nav-icon {
  width: 35rem;
}
.p-logo-original-cross {
  position: absolute;
  top: 0;
  right: 32rem;
  height: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-logo-original-cross:hover {
  text-decoration: none;
  animation: none;
}
.p-logo-original.nav {
  position: absolute;
  height: 120rem;
  left: 40rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-wrap-footer {
  list-style: none;
  padding: 188rem 8rem 0rem 100rem;
}
.l-wrap-footer li a {
  display: block;
  font-size: 34rem !important;
  line-height: 1;
  margin-bottom: 34rem;
  font-weight: 500;
  letter-spacing: 1.8rem;
}
.l-wrap-footer li a span {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
}
.l-wrap-footer li a span.p-text-nav-small {
  font-size: 16rem;
  margin-left: 24rem;
  font-weight: 300;
}
.l-wrap-footer-area {
  padding: 0;
  background-color: #fff5f5;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 80rem 48rem 0 48rem;
  position: relative;
}
.l-wrap-footer-area .l-wrap-themes-nav {
  list-style: none;
  padding: 0 8rem 0rem 0;
}
.l-wrap-footer-area .l-wrap-themes-nav li a {
  display: block;
  font-size: 34rem !important;
  line-height: 1;
  margin-bottom: 35rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 1.8rem;
}
.l-wrap-footer-area .l-wrap-themes-nav li a span {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-weight: bold;
}
.l-wrap-footer-area .l-wrap-themes-nav li a span.p-text-nav-small {
  font-size: 19rem;
  font-weight: bold;
  margin-left: 10px;
}
.l-wrap-footer-area .l-wrap-themes-nav li a img {
  height: 85rem;
}
.footer-link-top {
  display: block;
  margin-bottom: 84rem;
}
.footer-link-top img {
  height: 85rem;
}
footer .l-wrap-sns {
  margin: 90rem 0 135rem 0;
}
footer .l-wrap-sns a img {
  height: 44rem;
}
.l-wrap-sns {
  transform: translateY(10rem);
  margin: 80rem 0 102rem 100rem;
}
.l-wrap-sns a img {
  height: 52rem;
  margin-right: 39rem;
}
.l-wrap-link-area-bottom {
  margin-bottom: 78rem;
}
.l-wrap-link-area-bottom a {
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "Koburina Gothic Std W1", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-weight: 300;
  display: block;
  font-size: 22rem;
  line-height: 1;
  padding-bottom: 41rem;
  color: #6e6e6e;
  letter-spacing: .11em;
}
.l-wrap-link-area-bottom a.law {
  font-family: "punctuation-light", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W1", "こぶりなゴシック Std W1", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
}
.p-text-copyright {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-weight: 300;
  display: block;
  font-size: 15rem;
  line-height: 1;
  padding-bottom: 25rem;
  color: #6e6e6e;
  letter-spacing: .08em;
}
.cart--empty-message.original-text {
  margin: 250rem 0;
  font-size: 25rem;
}
.big-number {
  font-size: 50px;
  letter-spacing: 1.7px;
  font-weight: bold;
}
.bottom-space {
  margin-top: 100rem;
  margin-bottom: 60px;
}
.off-600 {
  transform: translate(-11px, 0) !important;
  margin-bottom: 80rem;
}
.not-use p {
  color: #000 !important;
  transform: translateX(0) !important;
  font-weight: 500;
  margin: 100rem 0;
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-size: 30rem;
  line-height: 1;
}
@media only screen and (min-width: 750px) {
  .medium-up--one-half {
    width: 100% !important;
  }
}
.medium-up--one-half {
  margin: 120rem auto;
}
#CustomerLoginForm h1, #CustomerLoginForm h2, #RecoverPasswordForm h1, #RecoverPasswordForm h2, .form-vertical h1, .form-vertical h2 {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-size: 44rem;
  line-height: 1;
  letter-spacing: .07em;
  font-weight: 500;
  margin-bottom: 32rem;
}
#CustomerLoginForm label, #CustomerLoginForm label[for], #RecoverPasswordForm label, #RecoverPasswordForm label[for], .form-vertical label, .form-vertical label[for] {
  font-size: 24rem;
  letter-spacing: .04em;
}
#CustomerLoginForm p, #RecoverPasswordForm p, .form-vertical p {
  margin-bottom: 12rem;
  font-size: 24rem;
}
#CustomerLoginForm h2+p, #RecoverPasswordForm h2+p, .form-vertical h2+p {
  font-size: 24rem;
  margin-top: 64rem;
  margin-bottom: 32rem;
}
#CustomerLoginForm h2.h3.form-message__title, #RecoverPasswordForm h2.h3.form-message__title, .form-vertical h2.h3.form-message__title {
  font-size: 24rem;
  margin-bottom: 0;
}
#CustomerLoginForm .form-message--error, #RecoverPasswordForm .form-message--error, .form-vertical .form-message--error {
  padding: 18px;
}
#CustomerLoginForm .form-message--error li, #RecoverPasswordForm .form-message--error li, .form-vertical .form-message--error li {
  font-size: 24rem;
}
#CustomerLoginForm a, #RecoverPasswordForm a, .form-vertical a {
  font-size: 24rem;
}
#CustomerLoginForm a#RecoverPasswordbtn.btn-line-customer-login, #RecoverPasswordForm a#RecoverPasswordbtn.btn-line-customer-login, .form-vertical a#RecoverPasswordbtn.btn-line-customer-login {
  background-position: 100rem 51% !important;
}
#CustomerLoginForm #RecoverPassword, #RecoverPasswordForm #RecoverPassword, .form-vertical #RecoverPassword {
  background-position: 255rem 13rem;
  color: #6e6e6e;
}
#CustomerLoginForm input[type=submit], #RecoverPasswordForm input[type=submit], .form-vertical input[type=submit] {
  width: 180rem;
  font-size: 20rem;
  background-position: 15px 51% !important;
}
#CustomerLoginForm input[type=submit]:focus, #CustomerLoginForm input[type=submit]:hover, #RecoverPasswordForm input[type=submit]:focus, #RecoverPasswordForm input[type=submit]:hover, .form-vertical input[type=submit]:focus, .form-vertical input[type=submit]:hover {
  background-color: var(--color-btn-primary) !important;
  opacity: .6;
}
.create-account .btn.btn-line-customer-login {
  color: #fff !important;
}
.form-message--success {
  margin-bottom: 12rem;
  font-size: 24rem;
}
.shopify-challenge__container {
  margin: 120rem auto !important;
}
.shopify-challenge__message {
  font-size: 24rem !important;
  margin-bottom: 21rem !important;
}
.shopify-challenge__button.btn {
  margin: 32rem auto 0 !important;
  width: 180rem !important;
  font-size: 24rem !important;
}
.shopify-challenge__button.btn:focus, .shopify-challenge__button.btn:hover {
  background-color: var(--color-btn-primary) !important;
  opacity: .6 !important;
}
li.c-title {
  margin-top: 90rem;
  font-size: 16rem;
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  margin-bottom: 27rem;
  font-weight: 300;
  letter-spacing: .13em
}
#customer_register_link, #CustomerLoginForm input[type=submit], .create-account input, .btn.btn-line-customer-login {
  display: inline-block;
  text-align: center;
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-size: 36rem !important;
  line-height: 1;
  letter-spacing: .07em;
  font-weight: 500;
  color: #fff;
  padding: 98rem 0;
  background-color: #f87799;
  background-image: url(https://system.meray.tokyo/images/cart/bg-btn-line-y.png);
  background-size: cover;
  background-position: 15px 51%;
  border: none;
  margin-top: 36rem;
  border-radius: 10rem;
  width: 100%;
  letter-spacing: .18em;
  text-decoration: none;
  width: 100% !important
}
footer .l-wrap-themes-nav .c-top-title {
  position: absolute;
  left: auto;
  right: 30rem
}
.l-wrap-themes-nav {
  list-style: none;
  padding: 188rem 8rem 0rem 172rem
}
.l-wrap-themes-nav li a {
  display: block;
  font-size: 34rem !important;
  line-height: 1;
  margin-bottom: 34rem;
  font-weight: 500;
  letter-spacing: 1.8rem;
}
.l-wrap-themes-nav li a span {
  font-family: "punctuation-bold", aktiv-grotesk, "A+tanp-こぶりなゴシック StdN W6", "Koburina Gothic Std W6", "こぶりなゴシック Std W6", "メイリオ", sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-style: normal;
  font-weight: bold;
}
.l-wrap-themes-nav li a span.p-text-nav-small {
  font-size: 16rem;
  margin-left: 24rem;
  font-weight: bold;
}
.l-wrap-footer-area {
  padding: 0;
  background-color: #fff5f5;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 80rem 48rem 0 48rem;
  position: relative;
}
@media(min-width: 465px) {
html.iphone, html.ipad {
  font-size: .6133333333px
}
html {
  font-size: .6186666667px
}
html body {
  background-color: #fff5f5
}
html body .d-xs-none {
  display: none !important
}
html body .l-wrapper main .key_visual-toppage .tagline-vertical {
  transform: scale(0.9) rotate(90deg) translate(250rem, 18rem)
}
html body .l-wrapper main .key_visual-toppage _:lang(x)+_:-webkit-full-screen-document, html body .l-wrapper main .key_visual-toppage .tagline-vertical {
  transform: scale(0.9) rotate(90deg) translate(250rem, 18rem)
}
html body .l-wrapper footer .copyright {
  transform: scale(0.8)
}
}
@media(min-width: 992px) {
html body .p-aside-logo, html body .p-aside-qrcode {
  display: flex
}
}
